footer {
	@include flex-col-center;
	width: 100vw;
	margin: 11.2rem 0;

	.footer__logo {
		margin-bottom: 5.6rem;
	}
	.footer__socials {
		display: flex;
		min-width: 11.6rem;
		justify-content: space-between;
		li {
			display: block;
			a {
				img {
					width: 2rem;
				}
			}
		}
	}
}
